.link {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  font-weight: 700;
  font-size: 18px;
  color: #03032e;
  text-shadow: 4px 4px 12px rgba(126, 142, 175, 0.85);
}

.activeLink {
  composes: link;
  color: #db500f;
}
.header {
  border-bottom: 1px solid #2a363b;
}
